.form-container {
	margin-top: 80px;
	margin-bottom: 30px;
}


.text-align-center h3 {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.react-calendar {
	margin: 0 auto;
}

.close-right {
	margin-right:10px;
}

.display-block {
	display: block;
}

.radio-options {
	height: 15px;
	width: 15px;
	display: flex;
	float: left;
	margin-top: 6px;
	margin-right: 6px;
}

.radio-label {
	display: flex;
}


.progress {
	margin-bottom: 10px;
}