.text-align-center {
  text-align: center;
  width: 100%;
  display: block;
}

.button-more-services {
  margin-top: 20px;
}

.intro-section {
  background: #f8f9fa !important;
  padding-top: 30px;
  margin-bottom: 0px;
}

.carousel {
  margin-bottom: 50px;
}

.showcase-image {
  max-height: 377px;
  margin: 0 auto;
  display: block;
}

.jumbotron-bg {
  background: url('/images/bh-homescreen.jpg');
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.showcase-jumbo {
  margin-bottom: 0px;
  background: #ffffff;
}

.col-red-bg {
  background: #CA1534;
}

.jumbotron-bg-text {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 74px;
}

.jumbotron-review {
  background: #ffffff;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron-footer {
  margin-bottom: 0px;
}

.jumbotron-footer {
  background: #000000;
  color: #ffffff;
}

.align-center {
  margin: 0 auto;
}

.jumbotron-bg  {
  padding: 0;
}

.col-red-bg {
  height: 100%;
  display: block;
  margin-left: 20%;
  width: 40%;
}

/*.regular-font {
  font-size: 12px;
}
*/
.red-text {
  color: red;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.card-img-top {
  text-align: center;
  margin-top: 27px;
  color: rebeccapurple;
}

.font-normal {
  color: #000000;
}

.carousel {
  margin-top: 56px;
}

.row-carousel-what-we-do {
  height: 400px;
  padding-top: 100px;
}

.solutions-image {
  margin: 0 auto;
}

.solutions-image-container {
  text-align: center;
}

.what-we-do-paragraph {
  padding-right: 50px;
}

.udoo-integration {
  max-width: 200px;
}

.erm-image {
  max-width: 300px;
}

.services-image { max-height: 50px; }

.services-badge { white-space: normal; word-wrap: break-word; margin-top: 5px; margin-right: 5px;}

.heading-jumbo {
  margin-bottom: 30px !important;
}

.services-card-body {
  min-height: 280px;
}

.carousel-control-next-icon {
  background: url('/images/arrow-right.svg');
  height: 50px;
  width: 50px;
}

.carousel-control-prev-icon {
  background: url('/images/arrow-left.svg');
  height: 50px;
  width: 50px;
}

.jumbotron-review .carousel-control-next-icon, .jumbotron-review .carousel-control-prev-icon {
  display: none;
}

@media screen and (max-width: 760px) {
  .showcase-image {
    max-width: 300px;
  }

  .row-carousel-what-we-do {
    padding-top: 0px;
    height: 590px;
  }

  .carousel-item img {
    max-width: 300px;
  }

  .what-we-do-paragraph {
    padding: 30px;
  }

  .font-normal {
    text-align: center;
  }

  .info-pricing {
    width: 40px;
  }

  .selected-price.checkout-items {
    margin-top: 40px;
  }

  .top-class {
    margin: 50px auto;
  }
}

.top-class {
  width: 100%;
}

.separator {
  widows: 100%;
  display: block;
  height: 20px;
}