.top-class {
	margin-top: 150px;
}

.form-wrapper {
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.17);
}

.top-class {
	margin-bottom: 100px;
}

.margin-center {
	margin: 0 auto;
	width: 100%;
}

.checkout-button {
	text-align: center;
}