.text-align-center {
	text-align: center;
	margin-bottom: 0px;
}

.pricing-container {
	padding-top: 30px;
}

.mb-3 {
	width: 150px;
}

.line-height-35 {
	line-height: 35px;
}

.background-silver {
	background: #F9F9F9;
}

.appmosphere-pricing {
	background: #ffffff;
	padding-top: 75px;
	padding-bottom: 25px;
}

.product-column {
	background: #ffffff;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #ffffff;
}

.product-column img {
	max-height: 50px;
}

.pull-right {
	float: right;
}

.circle-select {
 	height: 15px;
	width: 15px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.info-pricing {
	width: 15px;
	display: block;
	text-align: center;
}

.product-column:hover {
	cursor: pointer;
}

.product-column:hover .circle-select {
	border: 1px solid #333;
}

.product-outer-column {
	padding: 5px;
	background: #F9F9F9;
}

.padding-left-0 {
	padding-left: 0px;
}

.padding-right-0 {
	padding-right: 0px;
}

.select-price-row {
	margin-bottom: 50px;
}

.selected-price .product-column  {
	border: 1px solid #27a664;
}

.selected-price .circle-select {
	border: 1px solid #27a664;
	background: #27a664;
}

.fa-icon {
	margin-left: .3em;
	background: #27a664;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	text-align: center;
	padding: 2px;
}

.nav-tabs {
	padding-left: 10px;
}

.prices-tab {
	padding-left: 10px;
}

.price-tab-content {
	padding: 10px;
	background: #ffffff;
}

.price-tab-right {
	margin-top: 40px;
	position: fixed;
	right: 0;
	z-index: 0;
}

.price-span {
	font-weight: normal;
}

.price-total-row {
	margin-left: 0px;
	margin-right: 0px;
}

.price-total-row .col {
	border-bottom: 1px solid #ccc;
	padding: 5px 5px 5px 5px;
}

.total-pricing-month {
	margin-top: 10px;
	padding: 0px 5px 0px 5px;
}

.spacing-top-botton-10 {
	margin-bottom: 10px;
}

.billed-yearly {
	font-size: 12px;
	text-align: center;
}

.accordion {
	width: 100%;
}

.accordin-row {
	margin-bottom: 50px;
}

.price-label-font {
	color: #7c6576;
}

.text-align-center {
	text-align: center;
	width: 100%;
}

.intro-video {
	display: block;
	width: 100%;
	max-height: 420px;
	margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .price-tab-right {
  	bottom: 0;
  }

  .total-pricing-month {
  	display: none;
  }

  a.nav-item {
  	background: #ffffff;
  }

  .pull-right.info-pricing {
  	width: 70px;
  }

  .padding-left-15 {
  	padding-left: 15px;
  }

    .intro-video {
		margin-bottom: 50px;
		height: 200px;
	}
}

.plan-name-strong {
	font-size: 15px;
}

.info-icon {
	color: #ccc;
}

.info-icon:hover {
	color: #333;
}

@media screen and (max-width: 420px) {
	.select-price-row {
		margin-bottom: 10px;
	}
}