<div style="margin:40px auto; max-width:600px; width:100%; font-family: arial;  padding: 0 15px;font-size:14px;">
	<div style="width: 100%; display: inline-block; text-align: center; padding:10px 0 6px 0px; background:#fff; border-top: 4px solid #1E3262; border-bottom: 4px solid #1E3262;"><h1 style="margin: 4px 0;"><img alt="Logo" src="<%= logoUrl %>" style="height:66px; width:75px;vertical-align: middle;" /><span style="vertical-align: middle;display: inline-block;color: #1E3262;">Appmosphere</span></h1></div>

	<div style="margin:20px 0px 0px 0px; width:100%;"><strong style="font-size: 18px;">Hi <%= user.name %>,</strong>

	<p>Congratulations! You have successfully verified your account. Please click <a href="<%= baseUrl %>/verify-email/<%= token %>">here</a> now to verify your email:</p>
	
	<div style="margin-top:50px;width:100%;display:inline-block;">
		<p style="margin:3px 0 0;">Cheers,</p>
		<p style="margin:3px 0 0;">Appmosphere</p>
	</div>
	</div>
</div>
