.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

.open-span {
  cursor:pointer;
}

#mySidenav a {
  color: #ffffff;
}

#mySidenav {
  width: 250px;
}

@media screen and (max-width: 768px) {
  #main {
    display: block;
  }

  #mySidenav {
    width: 0px;
  }
}

#mySidenav {
  padding-top: 100px;
}

.nav-left-sidebar {
  color: #ccc;
}

.nav-left-sidebar.active {
  color: #ffffff;
}