.ag-theme-balham {
	margin-top: 80px;
}

.table-container {
	margin-bottom: 80px;
	margin-top: 80px;
}

.users-table {
	width: 100% !important;
}

.paginate_button {
	padding: 10px;
}

.paginate_button:hover {
	cursor: pointer;
}

.paginate_button.current {
	background: #007bff;
	color: #ffffff;
}

.table-responsive {
	width: 100%;
}