body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.label {
	font-weight: bold;
}

.view-button {
	color: #007bff;
}

.view-button:hover {
	text-decoration: none;
	cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
}

.container-add-blog {
  margin-top: 80px;
  margin-bottom: 80px;
}

.clear-bottom-30 {
  height: 30px;
  display: block;
}

.banner-image-blog-detail {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.blog-detail-container {
  max-width: 300px;
  display: flex;
  margin-bottom: 30px;
}

.blog-cards .blog-image .blog-title {
    position: absolute;
    height: 100%;
    width: 97%;
    top: 0;
}

.blog-table {
    display: table;
    height: 100%;
    width: 100%;
} 

.blog-column {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #cccccc;
}